In [2]:
import pandas as pd

In [4]:
liste=[1,2,3,"a","b","c"]
liste

[1, 2, 3, 'a', 'b', 'c']

In [6]:
df=pd.DataFrame(liste,columns=["Veri1"])
df

  Veri1
0     1
1     2
2     3
3     a
4     b
5     c

In [7]:
import numpy as np

In [8]:
veriler=np.random.randint(1,100,([3,3]))
veriler

array([[41, 98, 24],
       [96, 58, 19],
       [99, 36, 77]])

In [13]:
#verileri dataframe olarak gösterin 
#oluşturduğumuz bu diziyi datafram'e çevirelim.
df1=pd.DataFrame(veriler,index=["satır1","satır2","satır3"],columns=["sütun1","sütun2","sütun3"])
df1

        sütun1  sütun2  sütun3
satır1      41      98      24
satır2      96      58      19
satır3      99      36      77

In [21]:
veriler=[["Medine","PEHLİVAN",18],["Büşra","ÖZBEK",16]]
veriler

[['Medine', 'PEHLİVAN', 18], ['Büşra', 'ÖZBEK', 16]]

In [23]:
df2=pd.DataFrame(veriler,index=["Öğrenci_1","Öğrenci_2"],columns=["İsim","Soyisim","Yaş"])
df2

             İsim   Soyisim  Yaş
Öğrenci_1  Medine  PEHLİVAN   18
Öğrenci_2   Büşra     ÖZBEK   16

In [25]:
df.info() #dataframe hakkında genel bilgi için kullanılır.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Veri1   6 non-null      object
dtypes: object(1)
memory usage: 180.0+ bytes

In [27]:
df.axes#dataframe'in satır ve sütun bilgileri

[RangeIndex(start=0, stop=6, step=1), Index(['Veri1'], dtype='object')]